<h2> Employee List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Type </th>
            <th> Brand </th>
            <th> Model </th>
            <th> Update </th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of products" >
            <td> {{ product.type }} </td>
            <td> {{ product.brand }} </td>
            <td> {{ product.model }} </td>
            <td>
                <button (click) = "updateProduct(product.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteProduct(product.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    </tbody>
</table>