<app-navbar></app-navbar>
<div class="content">
    <h1>About Us</h1><br>
    <p>Welcome to CoolTek AC Service center, your trusted destination for reliable and professional air conditioning services. With 5 years of experience in the industry, we take pride in offering top-notch AC repair, installation, and maintenance services to residential and commercial clients.</p>
<div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Our Mission</h2>
                <p>At CoolTek AC Service center, our mission is to provide exceptional air conditioning solutions that ensure optimal comfort and efficiency for our customers. We strive to deliver reliable, cost-effective, and sustainable AC services while maintaining the highest standards of quality and customer satisfaction.</p>
              </div>
          <div class="col-md-4">
            <img src="assets/img/mission.png" alt="Image" width="250" class="img-fluid">
          </div>
        </div>
      </div><br>
      <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/img/expertise.png" alt="Image" width="250" class="img-fluid">
              </div>
            <div class="col-md-8">
                <h2>Our Expertise</h2>
                <p>Our team of highly skilled technicians is trained and certified to handle a wide range of air conditioning systems from leading brands. Whether it's a routine maintenance check, a complex repair, or a new AC installation, we have the expertise and knowledge to get the job done right the first time.</p>
              </div>
          
        </div>
      </div>
      <br>
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <h2>Quality and Reliability</h2>
                  <p>At CoolTek Service Center, we are committed to delivering high-quality workmanship and using genuine parts to ensure the longevity and performance of your air conditioning system. We adhere to industry best practices, stay updated with the latest technologies, and continuously improve our skills to provide you with the best possible service.</p>
                </div>
            <div class="col-md-4">
              <img src="assets/img/quality.png" alt="Image" width="150" class="img-fluid">
            </div>
          </div>
        </div><br>
        <div class="container">
          <section class="faq-section">
            <div class="container">
              <div class="row">
                                <!-- ***** FAQ Start ***** -->
                                <div class="col-md-6 offset-md-3">
            
                                    <div class="faq-title text-center pb-3">
                                        <h2>Frequently Asked Questions?</h2>
                                    </div>
                                </div>
                                <div class="col-md-6 offset-md-3">
                                    <div class="faq" id="accordion">
                                        <div class="card">
                                            <div class="card-header" id="faqHeading-1">
                                                <div class="mb-0">
                                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                                        <span class="badge">1</span>How often should I service my AC unit?
                                                    </h5>
                                                </div>
                                            </div>
                                            <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>It is generally recommended to service your AC unit at least once a year. Regular maintenance helps ensure optimal performance, improves energy efficiency, and extends the lifespan of the unit. However, if you live in a dusty environment or use your AC heavily, more frequent servicing may be necessary. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqHeading-2">
                                                <div class="mb-0">
                                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                                        <span class="badge">2</span> What is the recommended temperature setting for AC?
                                                    </h5>
                                                </div>
                                            </div>
                                            <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>The recommended temperature setting for AC varies based on personal comfort and the climate. However, a general guideline is to set the thermostat between 22-24 degrees Celsius (72-75 degrees Fahrenheit) for a comfortable indoor environment. Adjust the temperature according to your preference while considering energy efficiency.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" id="faqHeading-3">
                                                <div class="mb-0">
                                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                                        <span class="badge">3</span>What maintenance tasks can I perform on my own?
                                                    </h5>
                                                </div>
                                            </div>
                                            <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                                <div class="card-body">
                                                    <p>Clean or replace the air filters: Regularly cleaning or replacing the air filters is crucial for proper airflow and efficient cooling. Check the manufacturers instructions for the recommended frequency and procedure.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                            </section>
        </div>
        
      <app-footer></app-footer> 