<footer>
    <div class="container-fluid d-flex justify-content-center">
      <div class="row mb-2 mt-5">
        <div class="col-12 justify-content-center social">
          <a href=""><img src="assets/img/instagram.png" width="40px" alt="instagram" class="mr-5"></a>
          <a href=""><img src="assets/img/whatsapp.png" width="45px" alt="whatsapp" class="mr-5"></a>
          <a href=""><img src="assets/img/youtube.png" width="40px" alt="youtube" class="mr-5"></a>
          <a href=""><img src="assets/img/facebook.png" width="50px" alt="facebook" class="mr-5"></a>
          <p class="mt-5 list lists">Copyright © 2023 CoolTek AC Service.</p>
        </div>
      </div>
    </div>
  </footer>    
