
<div class="col-md-6 offset-md-3">
    <h1>Update Device</h1>
    <form #bookingForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="deviceType">Device Type:</label>
        <select class="form-control" id="deviceType" name="deviceType" [(ngModel)]="booking['type']" required>
          <option value="" disabled>Select a deviceType</option>
          <option value="Central Air Conditioner">Central Air Conditioner</option>
          <option value="Ductless Mini-Split">Ductless Mini-Split</option>
          <option value="Window Air Conditioner">Window Air Conditioner</option>
          <option value=" Portable Air Conditioner"> Portable Air Conditioner</option>
          <option value="Floor Mounted Air Conditioner">Floor Mounted Air Conditioner</option>
          <option value="Smart Air Conditioner">Smart Air Conditioner</option>
          <option value="Geothermal Air Conditioning System">Geothermal Air Conditioning System</option>
          <option value="Hybrid / Dual Fuel Air Conditioner">Hybrid / Dual Fuel Air Conditioner</option>
        </select>
        <div *ngIf="bookingForm.controls['deviceType']?.invalid && bookingForm.controls['deviceType']?.touched">
          <div *ngIf="bookingForm.controls['deviceType']?.errors?.['required']" style="color: red;">Device Type is required.</div>
        </div>
      </div>
    
      <div class="form-group">
        <label for="deviceBrand">Device brand:</label>
        <select class="form-control" id="deviceBrand" name="deviceBrand" [(ngModel)]="booking['brand']" required>
          <option value="" disabled>Select a device brand</option>
          <option value="Godrej">Godrej</option>
          <option value="Carrier">Carrier</option>
          <option value="Haier">Haier</option>
          <option value="Samsung">Samsung</option>
          <option value="Onida">Onida</option>
          <option value="Hitachi">Hitachi</option>
          <option value="LG">LG</option>
          <option value="Voltas">Voltas</option>
          <option value="Whirlpool">Whirlpool</option>
          <option value="Panasonic">Panasonic</option>
        </select>
        <div *ngIf="bookingForm.controls['deviceBrand']?.invalid && bookingForm.controls['deviceBrand']?.touched">
          <div *ngIf="bookingForm.controls['deviceBrand']?.errors?.['required']" style="color: red;">Device Brand is required.</div>
        </div>
      </div>
    
      <div class="form-group">
        <label for="deviceModel">Device Model:</label>
        <input type="text" class="form-control" id="deviceModel" name="deviceModel" [(ngModel)]="booking['model']" required>
        <div *ngIf="bookingForm.controls['deviceModel']?.invalid && bookingForm.controls['deviceModel']?.touched">
          <div *ngIf="bookingForm.controls['deviceModel']?.errors?.['required']" style="color: red;">Device Model is required.</div>
        </div>
      </div>
    


    
      <button class="btn btn-success" type="submit" [disabled]="bookingForm.invalid">Submit</button>
    </form>
    
  </div>

<app-footer class="footer"></app-footer>