<app-admin-navbar></app-admin-navbar>
<h1>Hi Admin, Welcome Back!!</h1>
<button type="button" class="btn btn-warning btn-rounded ml-4" (click)="downloadPdf()"> Download as Pdf</button>
<br><br>
<div class="widget-container">
    <div class="widget green">
      <div class="value">
        <div class="top">
          <img src="assets\img\employee.png" width="25px"alt="list">
          <p>{{employeeCount}}</p></div>
        <div class="bottom">Employees</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="value">
        <div class="top">
          <img src="assets\img\customer.png" width="25px"alt="list">
          <p>{{customerCount}}</p>
        </div>
        <div class="bottom">Customers</div>
      </div>
    </div>
    <div class="widget red">
      <div class="value">
        <div class="top">
          <img src="assets\img\listicon.png" width="25px" alt="list">
          <p>{{repairCount}}</p></div>
        <div class="bottom">Total Repair Requests</div>
      </div>
    </div>
    <div class="widget orange">
      <div class="value">
        <div class="top">
          <img src="assets\img\Booked requests.png" width="25px"alt="list">
          <p>{{bookedRepairs.length}}</p></div>
        <div class="bottom">Booked Repair Requests</div>
      </div>
    </div>
    <div class="widget blue">
      <div class="value">
        <div class="top">
          <img src="assets\img\Completed requests.png" width="25px"alt="list">
          <p>{{completedRepairs.length}}</p></div>
        <div class="bottom">Completed Repair Requests</div>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <h1>REPORTS IN PIE_CHART</h1>
  <br>
  <div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
</div>
<app-footer></app-footer>