<nav class="navbar navbar-expand-md navbar-dark">
    <a href="/"><img src="assets/img/logooo.png" width="100px" height="100px" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto pull-right">
        <li class="nav-item">
          <a class="nav-link desing" href="javascript:void(0);" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" routerLink="/aboutus" routerLinkActive="active">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" routerLink="/contactus" routerLinkActive="active">Contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" routerLink="/create-booking" routerLinkActive="active">Add Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" routerLink="/booking-list" routerLinkActive="active">Booking List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);" routerLink="/login" routerLinkActive="active">Logout</a>
        </li>
      
      </ul>
    </div>
  </nav>
  