<app-navbar></app-navbar>
<div class="container">
    <div class="profile-card">
      <div class="profile-image">
        <img src="assets/img/customer.png" alt="Profile Image" style="width: 100px;height: 100px;" />
      </div>
      <div class="profile-details">
        <h2>John doe</h2>
        <p>Email: john@gmail.com</p>
        <p>Phone Number: 9876856743</p>
        <button class="btn btn-primary" (click)="editProfile()">Edit</button>
      </div>
    </div>
  </div><br><br><br><br><br><br><br><br><br><br><br>
  
<app-footer></app-footer>  
