<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="products" routerLinkActive="active" class="nav-link" >Device List</a>
      </li>
      <li class = "nav-item">
          <a routerLink="create-device" routerLinkActive="active" class="nav-link" >Add Device</a>
      </li>
  </ul>
</nav>

<div class = "container">
  <router-outlet></router-outlet>
</div>
<!-- <footer class = "footer">
  <div class = "container">
      <span>All Rights Reserved 2020 @JavaGuides</span>
  </div>
</footer> -->