
<a href="/"><img src="assets/img/logooo.png" width="100px" height="100px" alt="Logo"></a>
<div class="container"><br>
  <div class="row">
    <div class="container-md-6">
      <h2>User Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="addlogin()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" formControlName="email" [(ngModel)]="email">
          <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched" class="error-message">
            Enter valid email address.
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" formControlName="password" [(ngModel)]="password">
          <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" class="error-message">
            Enter valid password.
          </div>
        </div>
        <button type="submit" class="btn btn-primary" >Login</button>
        <div *ngIf="loginForm.invalid && loginForm.touched" class="error-message">
          *Please fill in all the required fields.
        </div>
        <div class="forgot-password mt-3">
          <a routerLink="/forgot-password" style="text-decoration: none;">Forgot Password?</a>
        </div>
        <div class="login-link mt-3">
          Don't have an account? <a routerLink="/signup" style="text-decoration: none;">Register</a>
        </div>
      </form>
    </div><div class="vl"></div>
    <div class="container-md-6">
      <h2>Admin Login</h2>
      <form [formGroup]="AdminloginForm" (ngSubmit)="AdminonSubmit()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="adminemail" formControlName="email">
          <div *ngIf="AdminloginForm.get('email').invalid && AdminloginForm.get('email').touched" class="error-message">
            Enter valid email address.
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="adminpassword" formControlName="password">
          <div *ngIf="AdminloginForm.get('password').invalid && AdminloginForm.get('password').touched" class="error-message">
            Enter valid password.
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="forgot-password mt-3">
          <a routerLink="/employee-login" style="text-decoration: none;color: black;font-style: italic;background-color:lightskyblue;border-radius: 2px;"> Employee Login </a>
        </div>
        <div *ngIf="AdminloginForm.invalid && AdminloginForm.touched" class="error-message">
          *Please fill in all the required fields.
        </div>
       
      </form>
    </div>
  </div>

</div><br><br><br><br><br>

