<a href="/"><img src="assets/img/logooo.png" width="100px" height="100px" alt="Logo"></a>
<h1> Booking Details</h1>
<div class="view-details">
    <div>
        <label> <b> Device Type: </b></label> {{booking.type}}
    </div>
    <div>
        <label> <b> Device brand: </b></label> {{booking.brand}}
    </div>
    <div>
        <label> <b> Device Model: </b></label> {{booking.model}}
    </div>
    <div>
        <label> <b> Problem: </b></label> {{booking.description}}
    </div>
    <div>
        <label> <b> Status: </b></label> {{booking.status}}
    </div>
</div>
<app-footer class="footer"></app-footer>
